{% extends "base.html" %}
{% load static %}
<!-- load bag_tools removed-->

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Checkout</h2>
            <hr>
        </div>
    </div>
</div>
<div class"row">
    <div class="col col-lg-6">
        <form action="{% url 'checkout' %}" method="POST" id="payment-form">
            {% csrf_token %}
            <fieldset class="px-3>
                <legend class=" fieldset-label small text-black px-2 w-auto">Payment</legend>
                <div class="group">
                    <div class="row">
                        <div class="col-lg-3">
                            <p>Name on the Card</p>
                        </div>
                        <div class ="col-lg-9">
                            <input id="card_name" class="field" placeholder="John Doe" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <p>Card</p>
                        </div>
                        <div class ="col-lg-9"
                            <div id="card-element"></div>
                        </div>
                    </div>    
                </div>
                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>

                <!-- Pass the client secret to the view so we can get the payment intent id-->
                <input type="hidden" value="{{ client_secret }}" name="client_secret">
            </fieldset>

            <div class="submit-button text-left mt-5 mb-2">
                <button id="submit-button" class="btn btn-black rounded-0">
                    <span class="font-weight-bold">Complete Order</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </button>
                <p class="small text-danger my-0">
                    <span class="icon">
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
                    <span>Your card will be charged <strong>£{{ stripe_total }}</strong></span>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}

<!--Form the Code Institute Boutique Ado tutorial-->
{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}