{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col col-lg-6 offset-lg-3 col-md-12 col-sm-12 text-center">
            <hr>
            <h2 class="logo-font mb-4  ">Manage Image Inventory</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-6 offset-lg-3 col-md-12 col-sm-12 text-center">
            <a href="{% url 'image_management_add' %}" class= " btn btn-small btn-primary bg-success border border-success">Add an Image</a>
            <a href="{% url 'home' %}" class= " btn btn-small btn-primary bg-danger border border-danger">Return</a>
            <hr>
        </div>    
    </div>
    <div class="row">
        <div class="col col-lg-6 offset-lg-3 col-md-12 col-sm-12">
            <hr>
            <h2 class="logo-font mb-4 text-center">Image Inventory Management</h2>
        </div>
    </div>
    <table class="table table-sm table-hover col col-lg-6 offset-lg-3 col-md-12 col-sm-12">
        <thead>
          <tr>
            <th scope="col">Image Id</th>
            <th scope="col">Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for image in images %}   
                <tr>
                    <th scope="row">{{image.id}}</th>
                    <td>{{image.name}}</td>
                    <td>
                        <a href="{% url 'image_management_edit' image.id %}" class= "btn btn-small btn-primary bg-success border border-success">Edit</a> 
                    </td>
                    <td>
                        <a href ="{% url 'image_management_delete' image.id %}" class= "btn btn-small btn-primary bg-danger border border-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col col-lg-6 offset-lg-3 col-md-12 col-sm-12 text-center"> 
            <a href="{% url 'home' %}" class= " btn btn-small btn-primary bg-danger border border-danger">Return</a>
            <hr>
        </div>    
    </div>
</div>

{% endblock %}