{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Subscription Options</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        {% for subscription in subscriptions %}
            <div class="col s12 m6 lg-3">
                <div class="card small">
                    <div class="card-content black-text">
                        <span class="card-title">{{subscription.sub_display_name}}</span>
                        <h6 class="card-subtitle mb-2 text-muted">{{subscription.sub_display_name}}</h6>
                        <p class="card-text"><strong>£{{subscription.sub_display_price}} inc. VAT</strong></p>
                    </div>
                    <div class="card-action">
                            {% if button_state == "added" and subscription.id == toggle_id %}
                                <a href="{% url 'trolly_add' subscription.id %}"    
                                class="btn btn-primary green darken-1 border border-success btn" >Added</a>
                            {% else %}
                                <a href="{% url 'trolly_add' subscription.id %}"    
                                class="btn btn-primary green lighten-3 border border-success btn" >Add</a>
                            {% endif %}
                        
                    </div>
                </div>
            </div>
        {% endfor%}
    </div>
</div>
<div class"row">
    <div class="col center-align">
        <a href="{% url 'showtrolly' %}" class="btn btn-large btn-primary bg-success border border-success">Show trolly</a>
        <hr>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'pricing/js/stripe_elements.js' %}"></script>
{% endblock %}