{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'pricing/css/pricing.css' %}">
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Order Summary</h2>
        </div>
    </div> 

    <div class="row">
        <div class="col col-lg-6 offset-lg-3 col-md-12 col-sm-12">
            <p>{{order_form.order_number}}</p>
            <table class="table table-small">
                <thead>
                <tr>
                    <th>SKU Code</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for subscription in subscriptions %}
                        <tr>
                            <td>{{subscription.sub_name}}</td>
                            <td>{{subscription.sub_display_name}}</td>
                            <td>{{subscription.sub_price|floatformat:2}}</td>
                            <td>
                                <a href ="{% url 'trolly_delete' subscription.id %}" class= "btn btn-small btn-primary bg-danger border border-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <td></td>
                            <td><strong>Net Total</strong></td>
                            <td>£ {{net_total|floatformat:2}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><strong>VAT @ {{sales_tax_rate|floatformat:2}}%</strong></td>
                            <td>£ {{sales_tax|floatformat:2}}</td>
                        </tr>      
                        <tr>
                            <td></td>
                            <td><strong>Grand Total</strong></td>
                            <td>£ {{grand_total|floatformat:2}}</td>
                        </tr>
                </tbody>
            </table>
        </div>    
    </div>
</div>
<div class="row">
    <div class="col center-align">
        <a href="{% url 'payment_request' %}" class="btn btn-primary bg-success border border-success">Go to
            checkout</a>
        <a href="{% url 'pricing' %}" class="btn btn-primary bg-success border border-success">Return to
                Subscriptions</a>
    </div>
</div>

{% endblock %}  