{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Image Management</h2>
                <hr>
            </div>
        </div>
        <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th scope="col">Image Request</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
                {% for request in requests %}   
                <tr>
                    <th scope="row">{{request.id}}</th>
                    <td>{{request.description}}</td>
                    <td>
                        <a href="{% url 'edit_request' request.id%}">Edit</a> 
                    </td>
                    <td>
                        <a class="text-danger" href="{% url 'delete_request' request.id%}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>{{request.id}}</p>
    </div>
{% endblock %}